
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


#about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color:aquamarine;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}


#about h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
