header{
    background-color: #333;
    color:#fff;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li{
    display: inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
    color: #fff;
}
nav ul li:last-child{
    margin-right: 0;
}
.logo-container{
    order: 2;
}
.logo-container img{
    max-height: 50px;
}
.search-container{
    order: 3;
    display: flex;
    align-items: center;
}
.search-container input[type="text"]{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size:16px;
    width: 60px;
    height: 30px;
}
.search-container label{
    margin-right: 10px;
}
#search-button{
    font-size: 14px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border:none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
#search-button:hover{
    background-color: #0056b3;
}
#home{
    text-align: center;
    background-color: #f0f0f0;
    padding: 40px;
}
.table-container{
    text-align: center;
    margin: 10%;
    padding: 0%;
}

.library-table {
    border-collapse: collapse; 
    width: 100%; 
    color: #333;
}

.library-table th,
.library-table td {
    border: 1px solid #ddd; 
    padding: 10px; 
}


.library-table th {
    background-color: #f2f2f2; 
    font-weight: bold;
}
.header-cell {
    padding: 20px; 
    margin-right: 80px; 
    margin-left: 90px;
    
}
footer
{
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 20px;
}
@media (max-width: 768px) {
    header {
        padding: 10px;
    }
    
    nav ul li {
        margin-right: 10px;
    }
    
    nav ul li a {
        font-size: 14px;
    }
    
    .logo-container {
        order: 1;
    }
    
    .search-container {
        order: 2;
    }
    
    .search-container input[type="text"] {
        width: 100px;
        font-size: 14px;
        padding: 5px;
    }
    
    .header-cell {
        padding: 10px;
        margin: 0;
    }
    
    footer {
        padding: 10px;
    }
    
    #home {
        text-align: center;
        padding: 20px;
    }
    
    #home img {
        max-width: 100%;
        height: auto;
    }
    
    /* Adjust video width for small screens */
    video {
        width: 100%;
        height: auto;
    }
    table-container {
        max-width: 30%; /* Adjust this value as needed */
        margin: 0 auto; /* Center the table container horizontally */
    }
}
