
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.book-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.book {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.book h2 {
    color: aquamarine;
}


.book a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.book a:hover {
    background-color: #0056b3;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
